@import "tailwindcss";

@theme {
    /* Colores Principales */
    --color-unicafe-header: #8C6844;
    --color-unicafe-header-dark: #765433;
    --color-unicafe-navbar: #D8D092;
    --color-unicafe-botones: #2A9D8F;
    --color-unicafe-accent: #C59B42;
    --color-unicafe-accent-hover: #A87C35;
    --color-unicafe-body: #EFE4D2;
    
    /* Colores de UI */
    --color-unicafe-border: #bfa88a;
    --color-unicafe-form-bg: #fdfbf7;
    --color-unicafe-cancel: #e76f51;
    
    /* Sombras */
    --shadow-unicafe: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@layer base {
    body {
        @apply bg-unicafe-body text-[#1f1f1f] m-0 p-0 antialiased;
    }
}